mat-card div {
    * {
        display: block;
        width: 100%;
    }
    mat-icon {
        margin: 0.5em auto;
        width: 96px;
        height: 96px;
        font-size: 96px;
    }
    p {
        text-align: center;
        margin-top: 1em;
    }
}

.menu-container {
    display: grid;
    column-gap: 2em;
    row-gap: 1em;
}


@media (max-width:425px){
    .menu-container {
        grid-template-columns: 1fr;

    }
}

@media (min-width: 425px) and (max-width:600px){
    .menu-container {
        grid-template-columns: 1fr 1fr;

    }
}
@media (min-width:600px){
    .menu-container {
        grid-template-columns: 1fr 1fr 1fr;

    }
}