<h1 class="mat-title">
    Bienvenido a EBA
</h1>
<div class="menu-container">

    <mat-card matRipple routerLink="Primers">
        <div>
            <mat-icon color="primary" svgIcon="dna"></mat-icon>
            <p class="mat-subheading-2">
                PRIMERS
            </p>
        </div>
    </mat-card>

    <mat-card color="warn">
        <div>
            <mat-icon color="primary">help_outline</mat-icon>
            <p class="mat-subheading-2">
                MODULO 2
            </p>
        </div>
    </mat-card>

    <mat-card color="warn">
        <div>
            <mat-icon color="primary">help_outline</mat-icon>
            <p class="mat-subheading-2">
                MODULO 3
            </p>
        </div>
    </mat-card>
</div>